<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="_0510Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>

	    <add name="cadena" connectionString="Data Source=;Version=3" providerName="System.Data.SQLite"/>
	    
		<!--Development <add name="cadena" connectionString="Data Source=.\0510Project.db;Version=3" providerName="System.Data.SqlClient"/>-->
		
		<!-- Real Work Do not copy <add name="cadena" connectionString="Data Source=|DataDirectory|\..\..\0510Project.db;Version=3" providerName="System.Data.SqlClient"/> -->

	</connectionStrings>
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
 
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>

  <userSettings>
    <_0510Project.Properties.Settings>
      <setting name="GestionDB" serializeAs="String">
        <value>DB0510MS*</value>
      </setting>
      <setting name="DBPath" serializeAs="String">
        <value />
      </setting>
    </_0510Project.Properties.Settings>
  </userSettings>
</configuration>